In [1]:
import pandas as pd
import numpy as np

#Read files:
train = pd.read_csv("C:/Users/hp/Desktop/Big_Mart/train.csv")
test = pd.read_csv("C:/Users/hp/Desktop/Big_Mart/test.csv")

In [2]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [4]:
data = pd.concat([train, test],ignore_index=True)
print (train.shape, test.shape, data.shape)

(8523, 12) (5681, 11) (14204, 12)

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [5]:
data.isnull().sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
dtype: int64

In [6]:
data.dtypes

Item_Fat_Content              object
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type          object
Outlet_Size                   object
Outlet_Type                   object
dtype: object

In [7]:
categories = [x for x in data.dtypes.index if data.dtypes[x]=='object']
#Exclude ID cols and source:
categories = [x for x in categories if x not in ['Item_Identifier','Outlet_Identifier','source']]
#Print frequency of categories
for col in categories:
    print ('\nFrequency of Categories for varible')
    print(col)
    print (data[col].value_counts())

Frequency of Categories for varible
Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible
Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

Frequency of Categories for varible
Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible
Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible
Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [8]:
data['Item_Identifier'].value_counts()

FDB60    10
FDH57    10
FDB20    10
FDT34    10
NCK18    10
         ..
NCW54     7
FDS22     7
FDX49     7
FDM10     7
NCL42     7
Name: Item_Identifier, Length: 1559, dtype: int64

In [9]:
data['Outlet_Size'].fillna('Medium', inplace=True)

In [10]:
data['Item_Weight'].fillna(data['Item_Weight'].mean(), inplace=True)

In [11]:
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [12]:
data['ItemVisibility']= data['Item_Visibility'].map(lambda d: data['Item_Visibility'].mean() if d==0 else data['Item_Visibility'])

In [13]:
data.drop(['ItemVisibility'],axis=1, inplace=True)

In [14]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Medium,Grocery Store
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1

In [15]:
data['Item_Visibility'].replace(0.00000,np.nan, inplace=True)

In [16]:
data.isnull().sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility               879
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                     0
Outlet_Type                     0
dtype: int64

In [17]:
a=data['Item_Visibility'].mean()

In [18]:
data['Item_Visibility'].fillna(a,inplace=True)

In [19]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.070303,19.20,1998,OUT010,Tier 3,Medium,Grocery Store
4,Low Fat,NCD19,53.8614,994.7052,Household,0.070303,8.93,1987,OUT013,Tier 3,High,Supermarket Type1

In [20]:
data['Item_Fat_Content'].replace('LF','Low Fat', inplace=True)
data['Item_Fat_Content'].replace('low fat','Low Fat', inplace=True)
data['Item_Fat_Content'].replace('reg','Regular', inplace=True)

In [21]:
data['Outlet_Years']=2018-data['Outlet_Establishment_Year']
data.drop('Outlet_Establishment_Year', axis=1, inplace=True)

In [23]:
data['Item_Type_New'] = data['Item_Identifier'].apply(lambda x: x[0:2])

In [24]:
data['Item_Type_New'] = data['Item_Type_New'].map({'FD': 'Food',
                                              'DR': 'Drinks',
                                              'NC': 'Non-Consumable'})

In [25]:
data.drop('Item_Identifier', axis=1, inplace=True)

In [26]:
data.loc[data['Item_Type_New']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"

In [27]:
data.dtypes

Item_Fat_Content         object
Item_MRP                float64
Item_Outlet_Sales       float64
Item_Type                object
Item_Visibility         float64
Item_Weight             float64
Outlet_Identifier        object
Outlet_Location_Type     object
Outlet_Size              object
Outlet_Type              object
Outlet_Years              int64
Item_Type_New            object
dtype: object

In [28]:
data.head()

,Item_Fat_Content,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,Outlet_Years,Item_Type_New
0,Low Fat,249.8092,3735.1380,Dairy,0.016047,9.30,OUT049,Tier 1,Medium,Supermarket Type1,19,Food
1,Regular,48.2692,443.4228,Soft Drinks,0.019278,5.92,OUT018,Tier 3,Medium,Supermarket Type2,9,Drinks
2,Low Fat,141.6180,2097.2700,Meat,0.016760,17.50,OUT049,Tier 1,Medium,Supermarket Type1,19,Food
3,Regular,182.0950,732.3800,Fruits and Vegetables,0.070303,19.20,OUT010,Tier 3,Medium,Grocery Store,20,Food
4,Non-Edible,53.8614,994.7052,Household,0.070303,8.93,OUT013,Tier 3,High,Supermarket Type1,31,Non-Consumable

In [29]:
data = pd.get_dummies(data, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type', 'Item_Type_New','Outlet_Identifier'])

In [30]:
data.head()

,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Years,Item_Fat_Content_Low Fat,Item_Fat_Content_Non-Edible,Item_Fat_Content_Regular,Outlet_Location_Type_Tier 1,...,Outlet_Identifier_OUT010,Outlet_Identifier_OUT013,Outlet_Identifier_OUT017,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049
0,249.8092,3735.1380,Dairy,0.016047,9.30,19,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,48.2692,443.4228,Soft Drinks,0.019278,5.92,9,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,141.6180,2097.2700,Meat,0.016760,17.50,19,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,182.0950,732.3800,Fruits and Vegetables,0.070303,19.20,20,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4,53.8614,994.7052,Household,0.070303,8.93,31,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0

In [31]:
data.dtypes

Item_MRP                         float64
Item_Outlet_Sales                float64
Item_Type                         object
Item_Visibility                  float64
Item_Weight                      float64
Outlet_Years                       int64
Item_Fat_Content_Low Fat           uint8
Item_Fat_Content_Non-Edible        uint8
Item_Fat_Content_Regular           uint8
Outlet_Location_Type_Tier 1        uint8
Outlet_Location_Type_Tier 2        uint8
Outlet_Location_Type_Tier 3        uint8
Outlet_Size_High                   uint8
Outlet_Size_Medium                 uint8
Outlet_Size_Small                  uint8
Outlet_Type_Grocery Store          uint8
Outlet_Type_Supermarket Type1      uint8
Outlet_Type_Supermarket Type2      uint8
Outlet_Type_Supermarket Type3      uint8
Item_Type_New_Drinks               uint8
Item_Type_New_Food                 uint8
Item_Type_New_Non-Consumable       uint8
Outlet_Identifier_OUT010           uint8
Outlet_Identifier_OUT013           uint8
Outlet_Identifier_OUT017           uint8
Outlet_Identifier_OUT018           uint8
Outlet_Identifier_OUT019           uint8
Outlet_Identifier_OUT027           uint8
Outlet_Identifier_OUT035           uint8
Outlet_Identifier_OUT045           uint8
Outlet_Identifier_OUT046           uint8
Outlet_Identifier_OUT049           uint8
dtype: object

In [32]:
data = pd.get_dummies(data, columns=['Item_Type'])

In [33]:
data.head()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Years,Item_Fat_Content_Low Fat,Item_Fat_Content_Non-Edible,Item_Fat_Content_Regular,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,249.8092,3735.1380,0.016047,9.30,19,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,48.2692,443.4228,0.019278,5.92,9,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,141.6180,2097.2700,0.016760,17.50,19,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,182.0950,732.3800,0.070303,19.20,20,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,53.8614,994.7052,0.070303,8.93,31,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [34]:
Y=train['Item_Outlet_Sales']

In [35]:
data.drop('Item_Outlet_Sales', axis=1, inplace=True)

In [36]:
X = data.head(8523)
X_test = data.iloc[8523:]

In [40]:
#Linear Regression
from sklearn.linear_model import LinearRegression

In [41]:
lr = LinearRegression(normalize=True)

In [42]:
lr.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [43]:
lr_pred = lr.predict(X_test)

In [45]:
lr_accuracy = round(lr.score(X,Y) * 100,2)

In [46]:
lr_accuracy

56.36

In [47]:
#Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor

In [48]:
tree = DecisionTreeRegressor(max_depth=15,min_samples_leaf=100)

In [49]:
tree.fit(X,Y)

DecisionTreeRegressor(criterion='mse', max_depth=15, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=100,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [50]:
tree_pred = tree.predict(X_test)

In [52]:
tree_accuracy = round(tree.score(X,Y),2)
tree_accuracy

0.61

In [53]:
#Random Forest Regression
from sklearn.ensemble import RandomForestRegressor

In [54]:
rf = RandomForestRegressor(n_estimators=400,max_depth=6, min_samples_leaf=100,n_jobs=4)

In [55]:
rf.fit(X,Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=6,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=100, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=400, n_jobs=4,
                      oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [56]:
rf_pred = rf.predict(X_test)

In [57]:
rf_accuracy = round(rf.score(X,Y),2)
rf_accuracy

0.61